#contact-section {
    background-color: #697070;
    height: 100vh;
    transition: var(--transition);
}

#contact-section .container .reach-me {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background: transparent;
}

.reach-me-text {
    padding: 20px;
    text-align: center;
    color: var(--text-color);
}

.reach-me-text h1 {
    font-family: var(--font-four);
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.reach-me-text p {
    margin-bottom: 5px;
    font-family: var(--font-three);
    font-size: 0.8em;
}
@media screen and (min-width: 999px) {
    .reach-me-text {
        padding: 260px;
    }
    .reach-me-text h1 {
        font-size: 3em;
    }
    .reach-me-text p {
        font-size: 1.2em;
    }
}