#priority-section {
    background: url("../img/wave.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#priority-section::after {
    content: "";
    clear: both;
    display: table;
}

#priority-section .container .priorities-container {
    height: 100%;
    width: 100%;
    flex-flow: column wrap;
    background-color: transparent;
}

#priority-section .priorities-container .priorities {
    height: 60%;
    width: 100%;
    padding: 0px 20px 30px 20px;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    grid-gap: 3rem;
    max-width: 100vw;
    margin: 0 auto;
}

.the-priorities {
    /* height: 230px;*/
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.the-priorities .hex-wrap {
    height: 80px;
    width: 80px;
    position: relative;
    text-align: center;
}
.the-priorities .hexagon {
    background-color: var(--theme-color);
    display: inline-block;
    height: 100%;
    width: calc(100% * 0.57735);
}
.the-priorities .hexagon i {
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
    z-index: 1;
    font-size: 40px;
    color: var(--text-color);
}
.hexagon:before {
    background-color: inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(60deg);
    width: inherit;
}
.hexagon:after {
    background-color: inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(-60deg);
    width: inherit;
}
.the-priorities .text {
    width: 100%;
    color: var(--text-color);
}
.the-priorities .text .label {
    font-size: 1.22em;
    margin: 7px 0 5px 0 !important;
    font-family: var(--font-four);
    text-align: center;
}
.label-info {
    text-align: center;
    font-family: var(--font-three);
    font-size: 0.84em;
}






#priority-section .container .text-container {
    height: 100%;
    width: 100%;
    flex-flow: column wrap;
    background-color: transparent;
}
#priority-section .container .text-container .the-text {
    height: 60%;
    width: 100%;
    padding: 50px 20px 30px 20px;
    background-color: transparent;
    display: block;
    max-width: 100vw;
    margin: 0 auto;
}
.the-text .label {
    font-family: var(--font-four);
    font-size: 2em;
    text-align: left;
    margin: 0px 0 5px 0;
    color: var(--text-color);
}


@media screen and (max-width: 453px) {
    .the-priorities .hex-wrap {
        height: 60px;
        width: 60px;
    }
    .the-priorities .hexagon i {
        top: 15px;
        font-size: 29px;
    }
    .the-priorities .text .label {
        font-size: 1.1em;
    }
    .label-info {
        font-size: 0.73em;
    }
}
@media screen and (min-width: 660px) {
    #priority-section .container .text-container .the-text,
    #priority-section .priorities-container .priorities {
        padding: 0px 40px 30px 40px;
    }
}
@media screen and (max-width: 719px) {
    #priority-section .priorities-container .priorities {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.8rem;
    }
    .the-priorities:nth-child(5) {
        grid-column: 1 / span 2;
    }
    .the-priorities:nth-child(5) .text {
        padding: 0 29.5% 10px 29.5%;
    }
}
@media screen and (min-width: 999px) {
    #priority-section {
        height: 100vh;
    }
    #priority-section .container .text-container .the-text {
        padding: 0px 30px 30px 60px;
    }
    .the-text .label {
        font-size: 4.5em;
    }

    #priority-section .priorities-container .priorities {
        padding: 0px 60px 30px 10px;
        grid-gap: 0.9rem;
    }
    .the-priorities .hex-wrap {
        height: 80px;
        width: 80px;
    }
    .the-priorities .hexagon i {
        top: 20px;
        font-size: 40px;
    }
    .the-priorities .text .label {
        font-size: 1.1em;
    }
    .label-info {
        font-size: 0.84em;
    }
}

.priorities,
.label-info,
.label {
    transition: var(--transition);
}